/* order.component.css */

.order-container {
    max-width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .order-header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .order-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .order-item {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .mat-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
  }
  
  .order-details {
    display: flex;
  }
  
  .text-container {
    padding: 20px;
    text-align: left; /* Align text to the left */
  }
  
  .image-container {
    padding: 20px;
  }
  
  .mat-card-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .empty-orders {
    text-align: center;
    margin-top: 20px;
    color: #777;
  }
  
  .checkout-btn {
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .checkout-btn:hover {
    background-color: #45a049;
  }
  